@import "tailwindcss";

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --bg-dark: #d4d4d4;
  --bg-light: #e5e5e5;
  --accent: #000000;
  --text: #000000; */
  --bg-dark: hsl(0, 0%, 90%);
  --bg-light: hsl(0, 0%, 95%);
  --accent: hsl(196, 90%, 25%);
  --text: #0f172a;
}

.dark {
  --bg-dark: #030712;
  --bg-light: #101828;
  --accent: #00bbff;
  --text: #ffffff;
}

@keyframes rotate {
  to {
    --border-angle: 360deg;
  }
}

html {
  scroll-behavior: smooth;
}

@layer components {
  body {
    @apply transition-colors duration-300;
  }

  .footer-link {
    @apply flex items-center border p-2 rounded-full overflow-hidden transition-all ease-in-out duration-500;
  }

  .footer-link span {
    @apply sm:w-0 ml-1 sm:ml-0 sm:opacity-0 group-hover:opacity-100 group-hover:w-15 group-hover:ml-2 whitespace-nowrap transition-all ease-in-out duration-500;
  }

  .nav-items li {
    @apply h-full;
  }
  .card-blu {
    @apply p-[2px] rounded-3xl flex-1
    transition duration-200 ease-linear hover:scale-[1.01];
    --border-angle: 0deg;
    animation: rotate 3s linear infinite;
  }

  .card-blu:hover {
    background-image: conic-gradient(
      from var(--border-angle),
      var(--bg-light) 40%,
      var(--accent) 50%,
      var(--bg-light) 70%
    );
  }

  .section-title {
    @apply mt-3 text-center text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold;
  }

  .card-inner {
    @apply bg-radial from-[var(--bg-light)] from-50% to-90%  to-[var(--bg-dark)] p-10 rounded-3xl h-full border dark:border-gray-800 border-gray-500;
  }

  .card-link {
    @apply relative overflow-hidden inline-block border border-[var(--accent)] text-[var(--accent)] px-4 py-2 rounded-3xl transition duration-300;
  }

  .card-link::before {
    content: "";
    @apply absolute left-0 top-0 h-full w-0 bg-[var(--accent)];
    transition: width 0.5s ease;
    z-index: 0;
  }

  .card-link:hover {
    @apply text-white transform scale-105;
  }

  .card-link:hover::before {
    width: 100%;
  }

  .card-link span,
  .card-link svg {
    @apply relative z-10;
  }

  .bolds {
    @apply font-bold group-hover:text-[var(--accent)] transition;
  }
}
